// @import "./parts/slick";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

body {
  display: grid;
  grid-template-areas:
    "header head_slider head_slider"
    "article article article";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 0.5fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  max-width: 80vw;
  // width: 1600px;
  margin: auto;
  font-family: "Roboto", sans-serif;
}
header {
  .header h1 {
    margin-bottom: 15px;
  }
  .header__text {
    margin-bottom: 60px;
  }
  .header__place {
    color: gray;
    font-weight: 300;
    margin-bottom: 30px;
  }
  .header__contact {
    color: gray;
    font-weight: 300;
  }
  margin: 30px 50px;
  grid-area: header;
}

article {
  grid-area: article;
}

.head__slider {
  margin: 30px 100px;
  position: relative;
  display: grid;
  grid-template-columns: 700px 100px;
  width: 900px;
  grid-area: head_slider;

  .slide__main {
    width: 700px;
    height: 500px;
  }

  img {
    border-radius: 3px;
  }
  .head__slider-for {
    width: 700px;
    height: 500px;
    text-align: center;
  }
  .head__slider-nav {
    margin: 5px 20px;
    width: 170px;
    height: 480px;
    .head__slide {
      margin-top: 5px;
      cursor: pointer;
    }
    .slick-list {
      padding-top: 20px;
    }
  }
  .head__slide-nav {
    object-fit: contain;
  }

  .head__slide img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .slick-list {
    width: 100%;
    height: 100%;
  }
  .slick-center img {
    filter: blur(1px);
  }
}

.next {
  position: absolute;
  background: url(../assets/icon/right-chevron.svg);
  width: 20px;
  height: 20px;
  top: 50%;
  z-index: 10;
  border: none;
  right: 25%;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}
.prev {
  position: absolute;
  background: url(../assets/icon/left-chevron.svg);
  width: 20px;
  height: 20px;
  top: 50%;
  z-index: 10;
  border: none;
  left: 3%;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}

.slide__info {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  background-color: rgba(13, 13, 13, 0.7);
  font-size: 0.8em;
  font-weight: 300;
  z-index: 10;
  position: absolute;
  color: black;
  top: 90%;
  .slide__info-main {
    color: #fff;
    margin: 5px 10px;
    text-align: left;
  }
  .slide__info-neme {
    color: rgba(179, 179, 179, 1);
    margin: 5px 10px;
    text-align: left;
  }
  .slide__info-size {
    color: rgba(179, 179, 179, 1);
    margin: 5px 10px;
    text-align: left;
  }
  .slide__info-price {
    color: greenyellow;
    margin: 5px 10px;
    text-align: left;
  }
}

article {
  background-color: black;
  color: #fff;
  display: grid;
  grid-template-areas:
    "title title"
    "slider slider"
    "privacyPolicy form";
}

.articl__title {
  grid-area: title;
  h2 {
    font-size: 2.7em;
    margin: 22px auto 10px 40px;
  }
  .articl__subtitle {
    font-size: 0.9em;
    font-weight: 300;
    color: gray;
    margin-left: 40px;
  }
}
.articl__slider {
  grid-area: slider;
  margin: auto;
  height: 500px;
  width: 55vw;
  .articl__slier-for {
    // display: flex;
    // justify-content: space-around;
    width: 100%;
    height: 100%;
  }
  .articl__slide {
    max-width: 300px;
    max-height: 400px;
    margin: 30px;

    img {
      object-fit: contain;
      width: 100%;
      margin: auto 0;
    }
  }
}

.articl__privacyPolicy {
  grid-area: privacyPolicy;
}

.articl__form {
  grid-area: form;
}

.articl__privacyPolicy {
  margin: 20px;
}
