@font-face {
  font-family: "Icons";
  src: url("../font/fontello.woff2?49148615") format("woff2"),
    url("../font/fontello.woff?49148615") format("woff");
  font-weight: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "Icons";
  font-style: normal;
  font-weight: normal;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
}

body {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav article ads"
    "footer footer footer";
  grid-template-rows: 80px 1fr 70px;
  grid-template-columns: 30% 1fr 25%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
}

@media all and (max-width: 575px) {
  body {
    grid-template-areas:
      "header"
      "nav"
      "article"
      "ads"
      "footer";
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    text-align: center;
  }
}
header,
footer,
article,
nav,
div {
  padding: 0.5em;
  // background: gold;
}
.Header {
  grid-area: header;
}
.header_icon {
  margin-bottom: 3%;
  padding: 15px;
  font-family: "Icons";
  text-align: center;
  border-bottom: 1px solid rgba(221, 221, 221, 1);
}

.footer {
  grid-area: footer;
  border-top: 1px solid rgba(221, 221, 221, 1);
  text-align: center;
}

.AboutMe {
  grid-area: article;
}
.AboutMe_text {
  font-size: 1.3em;
}
.myPic {
  grid-area: nav;
}
.myPic > img {
  max-width: 100%;
}
.Content {
  grid-area: ads;
  text-align: center;
}
.Content > a {
  display: block;
  text-align: center;
  margin: 3%;
  font-size: 1.3em;
  text-decoration: none;
}

.icon-check:before {
  content: "\2611";
}
.icon-thumbs-up-alt:before {
  content: "\f164";
}
.icon-thumbs-down-alt:before {
  content: "\f165";
}
.header_icon:before {
  content: "\f19c";
}
.icon-bank:before {
  content: "👤";
}
