doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title= "slick"
    link(rel="stylesheet", href="./styles/slick.css")
    link(rel="stylesheet", href="./styles/style1.css")
    //- link(rel="stylesheet", href="./styles/slick-theme.css")
  body
    header
      h1 Репро<br>дукцио
      .header_text Оффлайн-магазин репродукций<br> шедевров мирового искусства
      .header_place Санкт-Петербург, <br> ул. Адмирала Черокова, 18
      .header_contact +7 812 960-22-01 <br> shop@reproduct.io 
    .head_slider
      button(type='button' class='slickNext' value='дальше')
      .slider-for
        
        .head_slide
          img(src="./assets/img/ser.jpg", alt="")
        .head_slide  
          img(src="./assets/img/ven.jpg", alt="")
        .head_slide  
          img(src="./assets/img/jesus.jpg", alt="")
      .slider-nav
        .head_slide
          img(src="./assets/img/ser.jpg", alt="")
        .head_slide  
          img(src="./assets/img/ven.jpg", alt="")
        .head_slide  
          img(src="./assets/img/jesus.jpg", alt="")
    article 7890
    
    
    
    script(src="https://code.jquery.com/jquery-3.5.1.min.js")
    script(src="./assets/slick.min.js")
    script(src= "./scripts/bundle.js")
    